ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
    font-size: 18;
    padding: 0;
    flex-wrap: wrap;
}

li {
    line-height: 150%;
}

button {
    border: 0;
    background-color: transparent;
    cursor: pointer;
}